<ejs-circulargauge class="container">
  <e-axes>
    <e-axis [lineStyle]="lineStyle" startAngle=0 endAngle=360 [labelStyle]="labelStyle" background="#b2d8d8"
      minimum="50" maximum=250 [majorTicks]="majorTicks" [minorTicks]="minorTicks" direction="AntiClockWise">
      <e-ranges>
        <e-range start=210 end=250 startWidth=2 endWidth=20 color="blue" opacity="0.2"></e-range>
      </e-ranges>
    </e-axis>
    <e-axis background="rgba(0, 256,64,0.3)" minimum="-20" maximum=60>
    </e-axis>
  </e-axes>
</ejs-circulargauge>